*{
    user-select: none;
}

#intro{
    font-size: 50px;
    text-shadow: 0 0 2px gray;
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 50px;
}

h1{
    color: maroon;
    text-shadow: 0 0 2px silver;
    font-size: 45px;
    position: relative;
    bottom: 50px;
}

.btn-success{
    width: 300px;
}